.fc .fc-button {
  color: black;
  border: 1px solid #E1E3EA;
  background-color: transparent;
}

.fc .fc-button:hover {
  color: black;
  border: 1px solid #F9F9F9;
  background-color: #F9F9F9;
}

.fc .fc-button:disabled {
  color: black;
  border: 1px solid #E7E7E7;
  background-color: #F9F9F9;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  color: #fff;
  border: 1px solid #F9F9F9;
  background-color: #000;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:hover, .fc .fc-button-primary:not(:disabled):active:hover {
  color: #fff;
  border: 1px solid #F9F9F9;
  background-color: #1f1f1f;
}

.fc .fc-toolbar-title {
  font-size: 15px;
}

.fc .fc-col-header-cell-cushion {
  padding: 10px 10px;
}

.fc .fc-timegrid-axis-cushion {
  align-items: center;
  text-align: center;
  padding-left: 10px;
}